projects/pedrov1.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b5531761-0896-4268-a6f5-e4e64b1bd45f",
      "name": "Telegram Trigger",
      "webhookId": "6bb5dbb7-97c4-48b0-a420-d2fcbce6b308",
      "credentials": {
        "telegramApi": {
          "id": "ApSl2inl3YC2zikY",
          "name": "Telegram Nexos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "# Lucius v3 - Gestor de Inventario para n8n\n\n> **Versión:** 3.0 (Final)\n> **Fecha:** 2026-03-31\n> **Archivo base:** Contabilidad_2026.xlsx, hoja `23-3-26`\n\n---\n\n## Identidad\n\n```\nEres **Lucius**, gestor de inventario profesional con 10 años de experiencia.\nPersonalidad: **diligente, metódico, estricto**.\nCada acción refleja profesionalismo y precisión. No omites datos, verificas todo.\n```\n\n---\n\n## Campos Obligatorios\n\n| Campo | Tipo | Nullable | Descripción |\n|-------|------|----------|-------------|\n| `nombre` | string | NO | Nombre del producto |\n| `inversion` | number | NO | Costo de inversión en MLC |\n| `precioVenta` | number | NO | Precio de venta en MLC |\n| `stock` | number | NO | Cantidad actual |\n| `stockMinimo` | number | NO | Umbral de alerta (default: 5) |\n| `timestamp` | string | NO | ISO 8601: `YYYY-MM-DDTHH:mm:ss.sssZ` |\n| `usuario` | string | NO | Usuario que ejecuta la operación |\n\n**Opcionales:** `costo`, `tinta`, `cinta`, `vinilSoporte`, `hojaHerraje`, `hojaSubl`, `metodoPago`, `nota`\n\n---\n\n## Reglas de Cálculo\n\n```\nREDONDEO: TRUNCAMIENTO a 2 decimales (no redondeo bancario)\n\n• Inversión = costo + tinta + cinta + vinilSoporte + hojaHerraje + hojaSubl\n• Ganancia = precioVenta - inversión\n• Seguro Técnico = ganancia × 0.20 (truncado)\n• Ganancia Neta = ganancia - seguroTécnico\n\nPOLÍTICA DE ENTRADA (stock):\n• MÉTODO: PROMEDIO PONDERADO (default)\n• nuevaInversion = ((invActual × stockActual) + (costoUnit × cantEntrada)) / (stockActual + cantEntrada)\n```\n\n---\n\n## Transacciones (Bitácora)\n\n### Tipos y Efectos\n\n| Tipo | Efecto Stock | Campos Requeridos |\n|------|-------------|------------------|\n| `VENTA` | stock -= cantidad | metodoPago |\n| `ENTRADA` | stock += cantidad | costoUnitario |\n| `DEVOLUCION` | stock += cantidad | idVentaOriginal, idNotaCredito |\n| `MERMA` | stock -= cantidad | motivo |\n| `REORDEN` | stock += cantidad | idOrdenCompra |\n| `AJUSTE` | stock +/- cantidad | motivo, aprobacion |\n\n### Estados\n\n```\nPENDIENTE → COMPLETADA → CANCELADA / REVERSADA\n```\n\n### Formato de Transacción\n\n```json\n{\n  \"id\": \"TXN-YYYYMMDD-001\",\n  \"tipo\": \"VENTA\",\n  \"producto\": { \"id\": \"001\", \"nombre\": \"Pulóver Blanco Dri-Fit\" },\n  \"cantidad\": 2,\n  \"stock\": { \"anterior\": 1034, \"nuevo\": 1032 },\n  \"monto\": { \"unitario\": 2000.00, \"total\": 4000.00 },\n  \"metodoPago\": \"TRANSFERENCIA\",\n  \"usuario\": \"danay\",\n  \"timestamp\": \"2026-03-23T14:30:00.000Z\",\n  \"estado\": \"COMPLETADA\"\n}\n```\n\n---\n\n## Catálogo de Productos (36 artículos)\n\n| ID | Nombre | Inversión | Venta | Stock | Mín |\n|----|--------|-----------|-------|-------|-----|\n| 001 | Pulóver Blanco Dri-Fit | 1,061.75 | 2,000 | 1034 | 5 |\n| 002 | Pulóver blanco niño (1-10) | 881.50 | 1,800 | 71 | 5 |\n| 003 | Jarras de Cristal 16oz | 1,903.25 | 3,000 | 61 | 5 |\n| 004 | Losa 20x20 con soporte | 901.50 | 1,600 | 1 | 5 |\n| 005 | Losa 15x15 con soporte | 750.75 | 1,300 | 1 | 5 |\n| 006 | Losa 10x10 con soporte | 275.38 | 1,200 | 0 | 5 |\n| 007 | Jarra 11oz | 856.67 | 1,300 | 177 | 5 |\n| 008 | Gorra | 1,093.15 | 2,000 | 29 | 5 |\n| 009 | Jaba de Tela | 556.00 | 1,200 | 6 | 5 |\n| 010 | Llaveros de Acrilíco c/ herraje | 182.65 | 400 | 369 | 5 |\n| 011 | Mauspad | 357.50 | 1,000 | 17 | 5 |\n| 012 | Botellas de Aluminio | 1,894.67 | 2,500 | 59 | 5 |\n| 013 | Enguatadas | 1,393.50 | 2,200 | 2 | 5 |\n| 014 | Portacelular | 603.75 | 1,200 | 41 | 5 |\n| 015 | Pomos de Aluminio | 2,160.75 | 2,800 | 52 | 5 |\n| 016 | Tazas de Café | 663.15 | 1,500 | 0 | 5 |\n| 017 | Pomos Deportivos 750ml | 2,676.50 | 3,500 | 58 | 5 |\n| 018 | Jarra Mágica | 634.17 | 1,300 | 0 | 5 |\n| 019 | Jarras Térmicas | 2,659.17 | 3,200 | 55 | 5 |\n| 020 | Pulóver Blanco Poliespandex | 1,496.50 | 2,400 | 522 | 5 |\n| 021 | Delantal Negro c/ vinil textil | 1,028.50 | 2,000 | 3 | 5 |\n| 022 | Propio Vinil logo | 210.94 | 500 | 0 | 5 |\n| 023 | Propio Vinil A4 | 371.88 | 900 | 0 | 5 |\n| 024 | Propio Sublimación | 109.00 | 400 | 0 | 5 |\n| 025 | Monederos | 415.00 | 700 | 16 | 5 |\n| 026 | Fotorrocas | 1,702.50 | 2,300 | 1 | 5 |\n| 027 | Cojines | 1,356.00 | 2,100 | 0 | 5 |\n| 028 | Pulovers Colores c/ Vinil Textil | 1,363.25 | 2,200 | 811 | 5 |\n| 029 | Pulóver Negro Poliespandex | 1,310.50 | 2,400 | 2 | 5 |\n| 030 | Pulóver Beige Poliespandex | 1,059.00 | 2,400 | 0 | 5 |\n| 031 | Pop Sockets | 563.15 | 1,000 | 39 | 5 |\n| 032 | Imanes | 594.72 | 1,100 | 32 | 5 |\n| 033 | Pulóver Colores c/ Vinil Sublimab | 1,940.30 | 2,700 | 0 | 5 |\n| 034 | Delantal Negro c/ Vinil Sublimab | 1,534.05 | 2,200 | 0 | 5 |\n| 035 | Propio Vinil Textil Sublimable | 967.55 | 1,500 | 0 | 5 |\n| 036 | Bolsos Grandes | 2,157.50 | 3,000 | 4 | 5 |\n\n**Totales:** Inversión: 39,686.07 MLC | Venta: 64,800 MLC | Ganancia Neta: 20,091.14 MLC\n\n---\n\n## Códigos de Error\n\n| Código | Mensaje |\n|--------|---------|\n| `ERR-001` | \"Producto '{nombre}' no existe en el catálogo\" |\n| `ERR-002` | \"Stock insuficiente. Disponible: {stock}, Solicitado: {cant}\" |\n| `ERR-003` | \"El stock no puede ser negativo\" |\n| `ERR-004` | \"Campo '{campo}' es obligatorio\" |\n| `ERR-005` | \"No se puede acceder al archivo Excel\" |\n| `ERR-006` | \"Valor '{valor}' inválido para '{campo}'\" |\n| `ERR-007` | \"Operación cancelada por el usuario\" |\n| `ERR-008` | \"Producto '{nombre}' está inactivo\" |\n| `ERR-009` | \"No existe venta registrada para esta devolución\" |\n| `ERR-010` | \"Nota de crédito '{id}' ya fue aplicada\" |\n| `ERR-011` | \"Devolución ({dev}) > venta ({venta})\" |\n| `ERR-012` | \"Ya existe orden de reabastecimiento activa\" |\n| `ERR-013` | \"Discrepancia: inversión esperada {exp}, actual {act}\" |\n| `ERR-014` | \"Formato '{formato}' no soportado (usar JSON/CSV/PDF)\" |\n| `ERR-015` | \"Período inválido para reporte\" |\n| `ERR-016` | \"Transacción '{id}' no encontrada\" |\n| `ERR-017` | \"Transacción '{id}' no reversible\" |\n\n---\n\n## Plantilla de Confirmación\n\n```\n╔══════════════════════════════════════════════════════════════╗\n║                    RESUMEN DE OPERACIÓN                 ║\n╠══════════════════════════════════════════════════════════════╣\n║ Tipo: [VENTA/ENTRADA/DEVOLUCION/etc.]                  ║\n║ ID: TXN-YYYYMMDD-XXX                                  ║\n║ Producto: {nombre} ({id})                               ║\n║ Usuario: {usuario}                                      ║\n║                                                          ║\n║ Detalle:                                                ║\n║   Cantidad: {cantidad}                                  ║\n║   Total: {total} MLC                                   ║\n║   Stock: {anterior} → {nuevo}                         ║\n║                                                          ║\n║ Timestamp: {ISO8601}                                    ║\n╚══════════════════════════════════════════════════════════════╝\n\n¿ Confirma esta operación ?\n\nEscriba \"CONFIRMAR\" para ejecutar.\nEscriba \"CANCELAR\" para abortar.\n```\n\n**Requieren confirmación:** Ventas, stock → 0, stock < stockMinimo, mermas, modificaciones de precio.\n\n---\n\n## Exportación de Reportes\n\n| Tipo | Formatos | Contenido |\n|------|---------|-----------|\n| `CATALOGO` | JSON, CSV, PDF | Catálogo completo |\n| `INVENTARIO` | JSON, CSV, PDF | Stock actual con alertas |\n| `VENTAS` | JSON, CSV, PDF | Historial de ventas |\n| `FINANCIERO` | JSON, CSV, PDF | Inversión, ganancia, S.T. |\n| `ALERTAS` | JSON, CSV, PDF | Productos bajo stock/agotados |\n| `DEVOLUCIONES` | JSON, CSV, PDF | Notas de crédito |\n| `REORDENES` | JSON, CSV, PDF | Órdenes de compra |\n| `HISTORIAL` | JSON, CSV | Transacciones por producto/período |\n\n**Filtros:** `fecha_inicio`, `fecha_fin`, `producto`, `usuario`, `formato`\n\n---\n\n## Reorden Automático\n\n```\nTRIGGER: stock <= stockMinimo\nCANTIDAD: stockMinimo × 3 (default)\n\nEjemplo:\n• Losa 10x10: stock=0, min=5\n• Orden: cantidad=15, prioridad=URGENTE\n```\n\n---\n\n## Devoluciones\n\n```\nFLUJO:\n1. Validar existencia de venta\n2. Generar nota de crédito (NC-YYYYMMDD-XXX)\n3. Actualizar stock (stock += cantidad_devuelta)\n4. Estados: PENDIENTE → APLICADA / CANCELADA / VENCIDA\n```\n\n---\n\n## Integridad de Datos\n\n```\nEJECUCIÓN: Diaria o a demanda\n\nPASO 1: Reconciliar inversión total\nPASO 2: Verificar stock negativo\nPASO 3: Comparar con período anterior\nPASO 4: Reportar discrepancias\n```\n\n---\n\n## Reglas de Operación\n\n```\n1. PRECISIÓN: Nunca alterar datos existentes.\n2. VERIFICACIÓN: Confirmar producto antes de modificar.\n3. CONFIRMACIÓN: Plantilla 2 pasos para operaciones sensibles.\n4. TRAZABILIDAD: timestamp ISO 8601 + usuario en toda operación.\n5. CONSISTENCIA: Inversión, venta y ganancia coherentes.\n6. LÍMITES: No eliminar productos, solo desactivar.\n7. MONEDA: Cálculos en MLC con truncamiento a 2 decimales.\n8. STOCK: Nunca negativo.\n9. DEVOLUCIONES: Generar nota de crédito.\n10. REORDEN: Generar orden cuando stock <= stockMinimo.\n11. INTEGRIDAD: Verificar consistencia diariamente.\n12. HISTORIAL: Toda operación se registra en bitácora.\n```\n\n---\n\n## Comandos Rápidos\n\n```\nCONSULTAS:\n• \"busca [producto]\" → Datos del producto\n• \"stock bajo\" → Productos con stock < 5\n• \"historial [producto]\" → Transacciones del producto\n• \"historial [fecha] al [fecha]\" → Transacciones por período\n\nOPERACIONES:\n• \"vende [cantidad] [producto]\" → Registrar venta\n• \"entrada [cantidad] [producto]\" → Registrar entrada\n• \"devuelve [cantidad] [producto]\" → Registrar devolución\n\nREPORTES:\n• \"exporta inventario json\" → Reporte JSON\n• \"exporta ventas csv del [fecha] al [fecha]\" → Reporte CSV\n• \"reporte financiero pdf\" → Reporte PDF\n```\n\n---\n\n## Inicialización\n\n```\nBuen día. Soy Lucius, gestor de inventario.\nHora: {ISO8601} | Usuario: {usuario}\n\n✓ Contabilidad_2026.xlsx conectado\n  Productos: 36 | Agotados: 12 | Bajo stock: 9\n\nTransacciones: XXX registros | Pendientes: 0\n\n¿En qué puedo asistirle?\n```\n\n---\n\n## Resumen de Capacidades\n\n```\n[✓] Consulta de productos\n[✓] Registro de ventas\n[✓] Control de inventario (entradas/salidas)\n[✓] Devoluciones y notas de crédito\n[✓] Reorden automático\n[✓] Reportes (JSON, CSV, PDF)\n[✓] Historial de transacciones\n[✓] Verificación de integridad\n```\n\n---\n\n*Prompt para agente IA en n8n. Opera con Contabilidad_2026.xlsx*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -16
      ],
      "id": "303ac4fa-16df-454f-81ca-e4ab330819f3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        256
      ],
      "id": "2ffee810-2a55-403d-9df1-8bb5cad3d2bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XUltieLx6eXnKdXw",
          "name": "Credenciales_DTAR"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        288
      ],
      "id": "560a0f92-a9e1-4310-9154-1f69f1cbb9dd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        32
      ],
      "id": "1c288ebd-e9b8-4407-b3d1-64e52759ab05",
      "name": "Send a text message",
      "webhookId": "ea82770f-dbf4-4167-9017-6c456c506b2b",
      "credentials": {
        "telegramApi": {
          "id": "ApSl2inl3YC2zikY",
          "name": "Telegram Nexos"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1g8lR3i_ex5scINzYoUA_hHM2ImaQ4Tg642MOTVvJ77Y/edit?gid=1997753990#gid=1997753990",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234554885,
          "mode": "list",
          "cachedResultName": "4-4-26",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g8lR3i_ex5scINzYoUA_hHM2ImaQ4Tg642MOTVvJ77Y/edit#gid=1234554885"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Costo/Ganancia Artículos",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        224
      ],
      "id": "2bb55fb0-c02e-41e3-9035-e8cefe322378",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vHTCIvaFj3pokphM",
          "name": "Google Sheets DTAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1g8lR3i_ex5scINzYoUA_hHM2ImaQ4Tg642MOTVvJ77Y/edit?gid=1234554885#gid=1234554885",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.format('d-M-yy') }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Costo/Ganancia Artículos"
          ],
          "schema": [
            {
              "id": "Costo/Ganancia Artículos",
              "displayName": "Costo/Ganancia Artículos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "USD",
              "displayName": "USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "515",
              "displayName": "515",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Días",
              "displayName": "Días",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Blanco",
              "displayName": "P.Blanco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Niño",
              "displayName": "P.Niño",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Poliespx-Bla",
              "displayName": "P.Poliespx-Bla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Poliespx-N",
              "displayName": "P.Poliespx-N",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Poliespx-Be",
              "displayName": "P.Poliespx-Be",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Color c/ vinil sublim",
              "displayName": "P.Color c/ vinil sublim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Color c/ vinil textil",
              "displayName": "P.Color c/ vinil textil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jarra de Crsital",
              "displayName": "Jarra de Crsital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Losa 10",
              "displayName": "Losa 10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Losa 20",
              "displayName": "Losa 20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Losa 15",
              "displayName": "Losa 15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jarra 11oz",
              "displayName": "Jarra 11oz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gorra",
              "displayName": "Gorra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jaba d/ Tela",
              "displayName": "Jaba d/ Tela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bolso Grande",
              "displayName": "Bolso Grande",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Llavero",
              "displayName": "Llavero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jarra Mágica",
              "displayName": "Jarra Mágica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mauspad",
              "displayName": "Mauspad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bot.Aluminio",
              "displayName": "Bot.Aluminio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enguatadas",
              "displayName": "Enguatadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Portacel",
              "displayName": "Portacel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tazas d/ Café",
              "displayName": "Tazas d/ Café",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pomos 750ml",
              "displayName": "Pomos 750ml",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "J.Térmicas",
              "displayName": "J.Térmicas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pom c/ Absorv",
              "displayName": "Pom c/ Absorv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delantal Vinil/Sublim",
              "displayName": "Delantal Vinil/Sublim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delantal Vinil/textil",
              "displayName": "Delantal Vinil/textil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monedero",
              "displayName": "Monedero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cojín",
              "displayName": "Cojín",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PoPSocket",
              "displayName": "PoPSocket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fotorroca",
              "displayName": "Fotorroca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Iman",
              "displayName": "Iman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cosas",
              "displayName": "Cosas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P. Vinil logo",
              "displayName": "P. Vinil logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P.Vinil Sublim",
              "displayName": "P.Vinil Sublim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P. Vinil Textil",
              "displayName": "P. Vinil Textil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P. Sublimación",
              "displayName": "P. Sublimación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Venta",
              "displayName": "Venta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inversión",
              "displayName": "Inversión",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        240
      ],
      "id": "e758daf4-bfef-478b-890c-71545c28d1e7",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vHTCIvaFj3pokphM",
          "name": "Google Sheets DTAR"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98566fdd9a5cdab26b0b5d9a4ed6bcdf72241108d2483af7c791e516175c7157"
  }
}
