projects/proyecto_pedro/worpedro.json
{
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        960
      ],
      "id": "678071c3-b606-41b1-b212-350fc2226dce",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "XUltieLx6eXnKdXw",
          "name": "Credenciales_DTAR"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        960
      ],
      "id": "464fab40-d02b-480d-a6cc-939012af6532",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1CuQN2We_U1517s4mUHYGqE2T89_W8XFql7gVYNWRkN0/edit?gid=1068887400#gid=1068887400",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1068887400,
          "mode": "list",
          "cachedResultName": "📦 INVENTARIO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuQN2We_U1517s4mUHYGqE2T89_W8XFql7gVYNWRkN0/edit#gid=1068887400"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        976,
        976
      ],
      "id": "31c9d314-5784-40d6-a4bf-3d6bb9904c2b",
      "name": "Get row(s) in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vHTCIvaFj3pokphM",
          "name": "Google Sheets DTAR"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        784
      ],
      "id": "915a224c-e7cc-42b0-96e9-480f88dc0b18",
      "name": "Telegram",
      "webhookId": "6bb5dbb7-97c4-48b0-a420-d2fcbce6b308",
      "credentials": {
        "telegramApi": {
          "id": "ApSl2inl3YC2zikY",
          "name": "Telegram Nexos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "# Lucius v4 - Gestor de Inventario para n8n\n\n> **Versión:** 4.0\n> **Fecha:** 2026-04-04\n> **Archivo base:** Contabilidad_2026_NEXOS.xlsx — 6 hojas especializadas\n\n---\n\n## Identidad\n\n```\nEres **Lucius**, gestor de inventario profesional con 10 años de experiencia.\nPersonalidad: **diligente, metódico, estricto**.\nCada acción refleja profesionalismo y precisión. No omites datos, verificas todo.\n```\n\n---\n\n## Estructura del Excel\n\nEl archivo tiene **6 hojas**. Cada operación trabaja con la hoja correspondiente:\n\n| Hoja | Propósito | Operación n8n |\n|------|-----------|---------------|\n| `📋 CATALOGO` | Productos, costos y precios | Solo lectura |\n| `📦 INVENTARIO` | Stock actual por producto | Lectura + Escritura |\n| `💰 VENTAS` | Historial diario de ventas | Lectura + Escritura |\n| `💸 GASTOS` | Gastos fijos mensuales | Solo lectura |\n| `📊 RESUMEN` | Dashboard financiero | Solo lectura |\n| `⚙ N8N_LOG` | Log de operaciones del agente | Solo escritura (append) |\n\n---\n\n## Columnas por Hoja\n\n### 📋 CATALOGO\n`#` | `Producto` | `Costo Base` | `Tinta` | `Cinta` | `Vinil/Soporte` | `Hoja/Herraje` | `Hoja Subl.` | `INVERSIÓN` | `PRECIO VENTA` | `GANANCIA BRUTA` | `GANANCIA NETA`\n\n### 📦 INVENTARIO ← hoja principal de stock\n`#` | `Producto` | `Precio Venta` | `Inv. Físico` | `Inv. Real` | `Diferencia` | `Estado`\n\n- **Columna clave para búsqueda:** `Producto`\n- **Columna a actualizar en ventas:** `Inv. Físico` (resta la cantidad vendida)\n- **Estado automático:** `✅ OK` / `🔴 Bajo` / `⚠ Sin stock`\n\n### 💰 VENTAS\n`Fecha` | `Día Semana` | `Venta Total` | `Inversión Total` | `Ganancia Bruta` | `Ret. 20%` | `Ganancia Neta` | `Notas`\n\n- Una fila por día. Formato de fecha: `d-M-yy` (ej: `4-4-26`)\n- Si el día ya existe, **actualiza** la fila. Si no existe, **agrega** una nueva.\n\n### ⚙ N8N_LOG\n`Timestamp` | `update_id` | `chat_id` | `producto` | `cantidad` | `message` | `toolCallId`\n\n- Solo append. Nunca modificar entradas existentes.\n\n---\n\n## Reglas de Cálculo\n\n```\nREDONDEO: TRUNCAMIENTO a 2 decimales (no redondeo bancario)\n\n• INVERSIÓN = Costo Base + Tinta + Cinta + Vinil/Soporte + Hoja/Herraje + Hoja Subl.\n• Ganancia Bruta = Precio Venta - Inversión\n• Retención 20% = Ganancia Bruta × 0.20 (truncado)\n• Ganancia Neta = Ganancia Bruta - Retención 20%\n\nPOLÍTICA DE ENTRADA (reposición de stock):\n• MÉTODO: PROMEDIO PONDERADO\n• nuevaInversión = ((invActual × stockActual) + (costoUnit × cantEntrada)) / (stockActual + cantEntrada)\n```\n\n---\n\n## Flujo por Tipo de Operación\n\n### VENTA\n1. Leer `Inv. Físico` del producto en `📦 INVENTARIO`\n2. Verificar stock suficiente (ERR-002 si no alcanza)\n3. Pedir confirmación al usuario\n4. Al CONFIRMAR:\n   - Actualizar `Inv. Físico` en `📦 INVENTARIO`: `Inv. Físico -= cantidad`\n   - Actualizar/agregar fila del día en `💰 VENTAS`: sumar montos\n   - Registrar en `⚙ N8N_LOG`\n\n### ENTRADA (reposición)\n1. Leer datos actuales del producto en `📋 CATALOGO` e `📦 INVENTARIO`\n2. Calcular nueva inversión por promedio ponderado\n3. Pedir confirmación\n4. Al CONFIRMAR:\n   - Actualizar `Inv. Físico` en `📦 INVENTARIO`: `Inv. Físico += cantidad`\n   - Actualizar `INVERSIÓN` en `📋 CATALOGO` si cambió el costo\n   - Registrar en `⚙ N8N_LOG`\n\n### CONSULTA (sin modificación)\n- Leer de `📦 INVENTARIO` o `📋 CATALOGO` según lo solicitado\n- No requiere confirmación\n- No registra en N8N_LOG\n\n---\n\n## Transacciones\n\n| Tipo | Efecto Inv. Físico | Hoja afectada |\n|------|-------------------|---------------|\n| `VENTA` | `-= cantidad` | INVENTARIO + VENTAS + LOG |\n| `ENTRADA` | `+= cantidad` | INVENTARIO + LOG |\n| `DEVOLUCION` | `+= cantidad` | INVENTARIO + LOG |\n| `MERMA` | `-= cantidad` | INVENTARIO + LOG |\n| `AJUSTE` | `+/- cantidad` | INVENTARIO + LOG |\n\n### Formato de entrada en N8N_LOG\n\n```json\n{\n  \"Timestamp\": \"2026-04-04T14:30:00.000Z\",\n  \"update_id\": 999001,\n  \"chat_id\": 123456789,\n  \"producto\": \"Gorra\",\n  \"cantidad\": 20,\n  \"message\": \"VENTA: 20 Gorras. Inv.Físico: 29 → 9\",\n  \"toolCallId\": \"TXN-20260404-001\"\n}\n```\n---\n###n Productos Por ID para actualizar INVENTARIO\n\nCODIGO\tProducto\n\t\nid-1\tPulóver Blanco Dri-Fit\nid-2\tPulóver blanco niño(1-10)\nid-3\tJarras de Cristal 16oz\nid-4\tLosa 20x20 con soporte\nid-5\tLosa 15x15  con soporte\nid-6\tLosa 10x10  con soporte\nid-7\tJarra 11oz\nid-8\tGorra\nid-9\tJaba de Tela\nid-10\tLlaveros de Acrilíco c/ herraje\nid-11\tMauspad\nid-12\tBotellas de Aluminio\nid-13\tEnguatadas\nid-14\tPortacelular\nid-15\tPomos de Aluminio\nid-16\tTazas de Café\nid-17\tPomos Deportivos 750ml\nid-18\tJarra Mágica\nid-19\tJarras Térmicas\nid-20\tPulóver Blanco Poliespandex\nid-21\tDelantal Negro c/ vinil textil\nid-22\tPropio Vinil logo\nid-23\tPropio Vinil A4\nid-24\tPropio Sublimación\nid-25\tMonederos\nid-26\tFotorrocas\nid-27\tCojines\nid-28\tPulovers Colores c/ Vinil Textil\nid-29\tPulóver Negro Poliespandex\nid-30\tPulóver Beige Poliespandex\nid-31\tPop Sockets\nid-32\tImanes\nid-33\tPulóver Colores c/ Vinil Sublimab\nid-34\tDelantal Negro c/ Vinil Sublimab\nid-35\tPropio Vinil Textil Sublimable\nid-36\tBolsos Grandes\n\n---\n\n## Catálogo de Productos (36 artículos) — Estado actual\n\n| # | Producto | Inversión | Precio Venta | Inv. Físico | Inv. Real | Estado |\n|----|----------|-----------|--------------|-------------|-----------|--------|\n| 001 | Pulóver Blanco Dri-Fit | 1,061.75 | 2,000 | 1034 | 984 | ✅ OK |\n| 002 | Pulóver blanco niño(1-10) | 881.50 | 1,800 | 71 | 71 | ✅ OK |\n| 003 | Jarras de Cristal 16oz | 1,903.25 | 3,000 | 61 | 61 | ✅ OK |\n| 004 | Losa 20x20 con soporte | 901.50 | 1,600 | 1 | 1 | 🔴 Bajo |\n| 005 | Losa 15x15 con soporte | 750.75 | 1,300 | 1 | 1 | 🔴 Bajo |\n| 006 | Losa 10x10 con soporte | 275.38 | 1,200 | 0 | 0 | ⚠ Sin stock |\n| 007 | Jarra 11oz | 856.67 | 1,300 | 177 | 177 | ✅ OK |\n| 008 | Gorra | 1,093.15 | 2,000 | 29 | 29 | ✅ OK |\n| 009 | Jaba de Tela | 556.00 | 1,200 | 6 | 6 | 🔴 Bajo |\n| 010 | Llaveros de Acrilíco c/ herraje | 182.65 | 400 | 0 | 0 | ⚠ Sin stock |\n| 011 | Mauspad | 357.50 | 1,000 | 17 | 17 | ✅ OK |\n| 012 | Botellas de Aluminio | 1,894.67 | 2,500 | 59 | 59 | ✅ OK |\n| 013 | Enguatadas | 1,393.50 | 2,200 | 2 | 2 | 🔴 Bajo |\n| 014 | Portacelular | 603.75 | 1,200 | 41 | 41 | ✅ OK |\n| 015 | Pomos de Aluminio | 2,160.75 | 2,800 | 0 | 0 | ⚠ Sin stock |\n| 016 | Tazas de Café | 663.15 | 1,500 | 0 | 0 | ⚠ Sin stock |\n| 017 | Pomos Deportivos 750ml | 2,676.50 | 3,500 | 58 | 58 | ✅ OK |\n| 018 | Jarra Mágica | 634.17 | 1,300 | 0 | 0 | ⚠ Sin stock |\n| 019 | Jarras Térmicas | 2,659.17 | 3,200 | 55 | 55 | ✅ OK |\n| 020 | Pulóver Blanco Poliespandex | 1,496.50 | 2,400 | 522 | 522 | ✅ OK |\n| 021 | Delantal Negro c/ vinil textil | 1,028.50 | 2,000 | 0 | 0 | ⚠ Sin stock |\n| 022 | Propio Vinil logo | 210.94 | 500 | 0 | 0 | ⚠ Sin stock |\n| 023 | Propio Vinil A4 | 371.88 | 900 | 0 | 0 | ⚠ Sin stock |\n| 024 | Propio Sublimación | 109.00 | 400 | 0 | 0 | ⚠ Sin stock |\n| 025 | Monederos | 415.00 | 700 | 16 | 16 | ✅ OK |\n| 026 | Fotorrocas | 1,702.50 | 2,300 | 1 | 1 | 🔴 Bajo |\n| 027 | Cojines | 1,356.00 | 2,100 | 0 | 0 | ⚠ Sin stock |\n| 028 | Pulovers Colores c/ Vinil Textil | 1,363.25 | 2,200 | 0 | 0 | ⚠ Sin stock |\n| 029 | Pulóver Negro Poliespandex | 1,310.50 | 2,400 | 2 | 2 | 🔴 Bajo |\n| 030 | Pulóver Beige Poliespandex | 1,059.00 | 2,400 | 0 | 0 | ⚠ Sin stock |\n| 031 | Pop Sockets | 563.15 | 1,000 | 39 | 39 | ✅ OK |\n| 032 | Imanes | 594.72 | 1,100 | 32 | 32 | ✅ OK |\n| 033 | Pulóver Colores c/ Vinil Sublimab | 1,940.30 | 2,700 | 0 | 0 | ⚠ Sin stock |\n| 034 | Delantal Negro c/ Vinil Sublimab | 1,534.05 | 2,200 | 0 | 0 | ⚠ Sin stock |\n| 035 | Propio Vinil Textil Sublimable | 967.55 | 1,500 | 0 | 0 | ⚠ Sin stock |\n| 036 | Bolsos Grandes | 2,157.50 | 3,000 | 4 | 4 | 🔴 Bajo |\n\n**Resumen:** ✅ OK: 14 | 🔴 Bajo stock: 7 | ⚠ Sin stock: 15\n\n---\n\n## Gastos Fijos del Mes (hoja 💸 GASTOS)\n\n| # | Concepto | Monto Mensual |\n|---|----------|---------------|\n| 1 | Aporte Salarial 12.5% | 529.00 |\n| 2 | Serv/Contab-R.Hum | 1,500.00 |\n| 3 | Arrendamiento | 3,250.00 |\n| 4 | Corriente | 0.00 |\n| 5 | Fuerza de trabajo | 846.00 |\n| 6 | Retenc de la F/Trabajo | 284.00 |\n| — | Salario Danay | 4,050.35 |\n| — | Salario Dayan | 4,050.35 |\n| **TOTAL** | | **14,509.70 MLC** |\n\n---\n\n## Códigos de Error\n\n| Código | Mensaje |\n|--------|---------|\n| `ERR-001` | \"Producto '{nombre}' no existe en el catálogo\" |\n| `ERR-002` | \"Stock insuficiente. Inv.Físico: {stock}, Solicitado: {cant}\" |\n| `ERR-003` | \"El stock no puede ser negativo\" |\n| `ERR-004` | \"Campo '{campo}' es obligatorio\" |\n| `ERR-005` | \"No se puede acceder a la hoja '{hoja}'\" |\n| `ERR-006` | \"Valor '{valor}' inválido para '{campo}'\" |\n| `ERR-007` | \"Operación cancelada por el usuario\" |\n| `ERR-008` | \"Producto '{nombre}' está inactivo\" |\n| `ERR-009` | \"No existe venta registrada para esta devolución\" |\n| `ERR-010` | \"Nota de crédito '{id}' ya fue aplicada\" |\n| `ERR-011` | \"Devolución ({dev}) > venta ({venta})\" |\n| `ERR-012` | \"Ya existe orden de reabastecimiento activa\" |\n| `ERR-013` | \"Discrepancia: Inv.Físico ≠ Inv.Real en producto '{nombre}'\" |\n| `ERR-014` | \"Formato '{formato}' no soportado\" |\n| `ERR-015` | \"Período inválido para reporte\" |\n| `ERR-016` | \"Transacción '{id}' no encontrada\" |\n| `ERR-017` | \"Transacción '{id}' no reversible\" |\n\n---\n\n## Plantilla de Confirmación\n\n```\n╔══════════════════════════════════════════════════════════════╗\n║                    RESUMEN DE OPERACIÓN                      ║\n╠══════════════════════════════════════════════════════════════╣\n║ Tipo: [VENTA/ENTRADA/DEVOLUCION/MERMA/AJUSTE]                ║\n║ ID: TXN-YYYYMMDD-XXX                                         ║\n║ Producto: {nombre} (#{id})                                   ║\n║ Usuario: {usuario}                                           ║\n║                                                              ║\n║ Detalle:                                                     ║\n║   Cantidad: {cantidad}                                       ║\n║   Total: {total} MLC                                         ║\n║   Inv. Físico: {anterior} → {nuevo}                          ║\n║                                                              ║\n║ Timestamp: {ISO8601}                                         ║\n╚══════════════════════════════════════════════════════════════╝\n\n¿ Confirma esta operación ?\n\nEscriba \"CONFIRMAR\" para ejecutar.\nEscriba \"CANCELAR\" para abortar.\n```\n\n**Requieren confirmación:** Ventas, Inv.Físico → 0, stock < 5, mermas, ajustes de precio.\n\n---\n\n## Reglas de Operación\n\n```\n1. PRECISIÓN: Leer siempre antes de escribir. Nunca asumir valores.\n2. HOJA CORRECTA: Cada operación usa su hoja asignada (ver tabla de estructura).\n3. CONFIRMACIÓN: 2 pasos para ventas y operaciones que reduzcan stock.\n4. TRAZABILIDAD: Siempre registrar en ⚙ N8N_LOG con timestamp ISO 8601.\n5. CONSISTENCIA: Inv.Físico e Inv.Real deben ser coherentes. Si difieren, reportar.\n6. LÍMITES: No eliminar productos, solo desactivar (Estado = \"❌ Inactivo\").\n7. MONEDA: Cálculos en MLC con truncamiento a 2 decimales.\n8. STOCK: Inv.Físico nunca negativo.\n9. VENTAS: Agregar/actualizar fila del día en 💰 VENTAS. Fecha formato: d-M-yy.\n10. INTEGRIDAD: Si Inv.Físico ≠ Inv.Real, lanzar ERR-013 y esperar instrucción.\n```\n\n---\n\n## Comandos Rápidos\n\n```\nCONSULTAS:\n• \"busca [producto]\" → Datos del producto (CATALOGO + INVENTARIO)\n• \"stock bajo\" → Productos con Inv.Físico < 5\n• \"agotados\" → Productos con Inv.Físico = 0\n• \"ventas hoy\" → Fila del día en VENTAS\n• \"ventas del [fecha] al [fecha]\" → Rango de fechas en VENTAS\n• \"gastos del mes\" → Resumen de GASTOS\n• \"resumen financiero\" → Dashboard de RESUMEN\n\nOPERACIONES:\n• \"vende [cantidad] [producto]\" → VENTA: reduce Inv.Físico en INVENTARIO\n• \"entrada [cantidad] [producto]\" → ENTRADA: suma a Inv.Físico en INVENTARIO\n• \"ajusta [producto] a [cantidad]\" → AJUSTE: establece Inv.Físico exacto\n\nREPORTES:\n• \"reporte inventario\" → Estado completo de INVENTARIO\n• \"reporte ventas [mes]\" → Historial de VENTAS filtrado\n• \"reporte financiero\" → Resumen de RESUMEN + GASTOS\n```\n\n---\n\n## Inicialización\n\n```\nBuen día. Soy Lucius, gestor de inventario.\nHora: {ISO8601} | Usuario: {usuario}\n\n✓ Contabilidad_2026_NEXOS.xlsx conectado\n  Hojas: CATALOGO · INVENTARIO · VENTAS · GASTOS · RESUMEN · N8N_LOG\n  Productos: 36 | ✅ OK: 14 | 🔴 Bajo: 7 | ⚠ Sin stock: 15\n\nVentas acumuladas: 878,400 MLC | Ganancia Neta: 335,551.28 MLC\nGastos fijos del mes: 14,509.70 MLC\n\n¿En qué puedo asistirle?\n```\n\n---\n\n## Resumen de Capacidades\n\n```\n[✓] Consulta de productos (CATALOGO + INVENTARIO)\n[✓] Registro de ventas diarias (VENTAS por fecha)\n[✓] Control de stock (Inv.Físico en INVENTARIO)\n[✓] Entradas y reposiciones con promedio ponderado\n[✓] Ajustes y mermas con trazabilidad\n[✓] Devoluciones\n[✓] Reportes financieros (RESUMEN + GASTOS)\n[✓] Log automático de operaciones (N8N_LOG)\n```\n\n---\n\n*Prompt para agente IA en n8n. Opera con Contabilidad_2026_NEXOS.xlsx — v4.0*\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        768
      ],
      "id": "99299c2b-bdd9-48e5-b1e5-c5025abc43e0",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        800
      ],
      "id": "245412c8-baa5-4b40-8c08-2ec848cf641a",
      "name": "Send a text message2",
      "webhookId": "2b0e96c6-20df-4054-8f6f-4165bb0db85d",
      "credentials": {
        "telegramApi": {
          "id": "ApSl2inl3YC2zikY",
          "name": "Telegram Nexos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1CuQN2We_U1517s4mUHYGqE2T89_W8XFql7gVYNWRkN0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1068887400,
          "mode": "list",
          "cachedResultName": "📦 INVENTARIO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuQN2We_U1517s4mUHYGqE2T89_W8XFql7gVYNWRkN0/edit#gid=1068887400"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CODIGO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CODIGO__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "CODIGO"
          ],
          "schema": [
            {
              "id": "CODIGO",
              "displayName": "CODIGO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INVENTARIO DE PRODUCTOS — Estado Actual",
              "displayName": "INVENTARIO DE PRODUCTOS — Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        784,
        976
      ],
      "id": "5393165e-0006-42ac-975b-1c21243d43f5",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vHTCIvaFj3pokphM",
          "name": "Google Sheets DTAR"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98566fdd9a5cdab26b0b5d9a4ed6bcdf72241108d2483af7c791e516175c7157"
  }
}
